:root {
  --colorSlate100: #f1f5f9;
  --colorSlate200: #e2e8f0;
  --colorSlate300: #cbd5e1;
  --colorSlate400: #94a3b8;
  --colorSlate600: #475569;
  --colorRed500: #ef4444;
  --colorBlue500: #0ea5e9;
  --colorGreen500: #22c55e;
}
body  {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto Serif', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--colorSlate100);
}
header  {
  background-color: var(--colorSlate400);
  box-shadow: 0 6px 2px -2px rgba(0, 0, 0, 0.6);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: var(--colorSlate100);
  z-index: 1;
}

/* Header heading & icon  */
header > div  {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  margin: 12px;
}

/* Header icon */
header img  {
  height: 50px;
  justify-self: center;
}

/* Header heading */
header h1 {
  align-self: end;
  margin: 0;
}

main  {
  position: relative;
  display: flex;
  flex-direction: column;
}

#summaryDiv  {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  border: solid var(--colorSlate600);
  border-radius: 12px;
}

#summaryDiv p {
  margin: 0;
  padding: 5px;
}

/* Minimal table styling */
#table {
  margin: auto;
  border-collapse: collapse;
  border: 2px solid var(--colorSlate600);
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin-bottom: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

/* Sticky position for table's first row */
#table tr:first-of-type {
  position: -webkit-sticky;
  position: sticky;
  top: 117px;
}

td, th {
  border: 1px solid var(--colorSlate600);
  padding: 10px 20px;
}

th {
  background-color: var(--colorSlate300);;
  border: 2px solid var(--colorSlate600);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: var(--colorSlate100);
}

tr:nth-child(odd) td {
  background-color: var(--colorSlate200);;
}

caption {
  padding: 10px;
}

.tableCheckbox  {
  padding: 0;
  margin: 0;
  width: max-content;
}

form  {
  position: absolute;
  align-self: center;
  position: fixed;
  top: 150px;
  border: solid var(--colorSlate600);
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: end;
  width: fit-content;
  background-color: var(--colorSlate100);
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  visibility: hidden;
}

#btnContainer {
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 68px;
  margin-bottom: 15px;
}

/* Buttons*/
button,
.deleteBtn {
  align-self: center;
  padding: 5px;
  background-color: var(--colorSlate400);
  color: white;
  border-radius: 8px;
  font-weight: 700;
}

.deleteBtn,
#cancelBtn,
#submitBtn  {
  width: max-content;
  background-color: var(--colorRed500);
  margin: auto;
  border: solid var(--colorSlate600);
}
#addBtn, 
#suggestionBtn,
#clearAllBtn {
  background-color: var(--colorBlue500);
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  font-size: 2rem;
  margin-top: 10px;
}

#suggestionBtn  {
  background-color: var(--colorGreen500);
}

#clearAllBtn  {
  background-color: var(--colorRed500);
}

#submitBtn {
  background-color: var(--colorBlue500);
}

#addBtn:hover,
#suggestionBtn:hover,
#clearAllBtn:hover,
.deleteBtn:hover,
#submitBtn:hover,
#cancelBtn:hover  {
  background-color: white;
  color: var(--colorBlue500);
  cursor: pointer;
  transform: scale(1.3);
  border: 0.8px solid var(--colorSlate400);
  box-shadow: 2px 2px 2px;
}

#suggestionBtn:hover  {
  color: var(--colorGreen500);
}

#clearAllBtn:hover,
.deleteBtn:hover,
#cancelBtn:hover  {
  color: var(--colorRed500);
}

#sortOptions  {
  height: 2rem;
  align-self: end;
  border-radius: 8px;
  padding: 5px;
  font-size: 0.9rem;
  border: 1px solid var(--colorSlate600);
  background-color: var(--colorSlate300);
  font-weight: 500;
}

#sortOptions:hover,
input[type=text]:hover,
input[type=number]:hover {
  border: dotted var(--colorSlate600);
  transform: scale(1.02);
  border-radius: 8px;
}

input[type=text]:focus,
input[type=number]:focus {
  border: solid var(--colorSlate600);
  background-color: #d1fae5;
  transform: scale(1.02);
  border-radius: 2px;
}

/* Form heading */
form > div:first-child  {
  align-self: center;
  font-weight: 900;
}

input {
  margin-top: 20px;
  width: 350px;
  border-radius: 8px;
  border: solid 1px var(--colorSlate400);
  height: 1.8rem;
  font-size: 1rem;
  padding: 5px;
}

label {
  font-weight: 600;
}

/* Read checkbox */
#formCheckbox {
  width: max-content;
  margin-right: 338px;
}

footer  {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  padding: 5px;
  background-color: var(--colorSlate400);
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  color: var(--colorSlate100);
}

footer img  {
  height: 2.5rem;
}