body  {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto Serif', sans-serif;
  display: flex;
  flex-direction: column;
}

/* Header heading & icon  */
header > div  {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}

/* Header icon */
header img  {
  height: 50px;
  justify-self: center;
}

/* Header heading */
header h1 {
  align-self: end;
  margin: 0;
}