:root {
  --colorSlate100: #f1f5f9;
  --colorSlate200: #e2e8f0;
  --colorSlate400: #94a3b8;
}
body  {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto Serif', sans-serif;
  display: flex;
  flex-direction: column;
}
header  {
  background-color: var(--colorSlate200);
  box-shadow: 0 6px 2px -2px rgba(0, 0, 0, 0.2);
}

/* Header heading & icon  */
header > div  {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  margin: 12px;
}

/* Header icon */
header img  {
  height: 50px;
  justify-self: center;
}

/* Header heading */
header h1 {
  align-self: end;
  margin: 0;
}

main  {
  display: flex;
  flex-direction: column;
}

/* Minimal table styling */
table {
  margin: auto;
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}

form  {
  position: absolute;
  top: 10px;
  right: 40%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: end;
  width: fit-content;
  background-color: var(--colorSlate100);
  border-radius: 8px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

/* Add book button */
#addBtn {
  background-color: #0ea5e9;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  font-size: 2rem;
  margin-top: 10px;
}

#addBtn:hover  {
  background-color: white;
  color: #0ea5e9;
  cursor: pointer;
  transform: scale(1.3);
  border: 0.8px solid var(--colorSlate400);
}

/* Form heading */
form > div:first-child  {
  align-self: center;
  font-weight: 700;
}

input {
  margin-top: 20px;
  width: 350px;
}

/* Read checkbox */
#read {
  width: max-content;
  margin-right: 338px;
}

button  {
  align-self: center;
  padding: 5px;
  background-color: var(--colorSlate400);
  color: white;
  border-radius: 8px;
  font-weight: 700;
}

footer  {
  text-align: center;
  margin-top: auto;
  padding: 5px;
  background-color: var(--colorSlate200);
}

footer img  {
  height: 2.5rem;
}